COMPOSE_PROJECT_NAME=datahack
DH_TIMEZONE=America/Cuiaba

WAREHOUSE_HOST=localhost
WAREHOUSE_PORT=5433
WAREHOUSE_DB=datahack
WAREHOUSE_ADMIN_USER=dh_admin
WAREHOUSE_ADMIN_PASSWORD=__GERAR__
WAREHOUSE_INGEST_USER=dh_ingestor
WAREHOUSE_INGEST_PASSWORD=__GERAR__
WAREHOUSE_DBT_USER=dh_transformer
WAREHOUSE_DBT_PASSWORD=__GERAR__
WAREHOUSE_BI_USER=dh_bi_reader
WAREHOUSE_BI_PASSWORD=__GERAR__
WAREHOUSE_BACKUP_PASSWORD=__GERAR__
BACKUP_INTERVAL_SECONDS=86400
BACKUP_RETENTION_DAYS=7
WAREHOUSE_SSLMODE=prefer

DBT_TARGET=dev
DBT_PROFILES_DIR=./dbt
DBT_PII_SALT=__GERAR__

DH_CATALOG=config/sources.yml
DH_LANDING_URI=data/landing
DH_OUTPUTS=outputs
DH_EXPORT_CONFIG=config/exports.yml
DH_LOG_FORMAT=text
DH_LOG_LEVEL=INFO

AIRFLOW_UID=50000
AIRFLOW_PORT=8080
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=__GERAR__
AIRFLOW_DB_PASSWORD=__GERAR__
AIRFLOW_FERNET_KEY=__GERAR__
AIRFLOW_JWT_SECRET=__GERAR__
AIRFLOW_API_SECRET_KEY=__GERAR__
DH_PIPELINE_SCHEDULE=
DH_INGEST_CONCURRENCY=4
DH_TASK_RETRIES=2
DH_RETRY_DELAY_SECONDS=120

PGADMIN_EMAIL=admin@datahack.dev
PGADMIN_PASSWORD=__GERAR__
PGADMIN_PORT=5050
