.env
.env.*
!.env.example
*.pem
*.key
*.pfx
*.p12
secrets/
backups/
**/credentials*.json
**/service-account*.json

data/**
!data/landing/
!data/landing/.gitkeep
!data/lake/
!data/lake/.gitkeep
*.csv
*.parquet
*.xlsx
*.xls
*.jsonl
*.dump
*.backup
*.sql.gz
*.pbix
*.pbit
**/.pbi/cache.abf
**/.pbi/localSettings.json
!dbt/seeds/*.csv
!dbt/models/silver/.gitkeep

dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

airflow/logs/
airflow/*.cfg
airflow/*.db
airflow/standalone_admin_password.txt

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
build/
dist/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.swp

!data/landing/inbox/
!data/landing/inbox/.gitkeep
dbt/models/auto/
